<ion-view style="" class=" " id="page3" title="About Us">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="aboutUs-heading1">About BVRITH</h3>
        <p class=" " style="color:#000000;" id="aboutUs-markdown5">Excellence is the hallmark of Sri Vishnu Educational Society, Excellence, which will deliver professional manpower to the industry and the nation at large. WE at BVRITH are producing engineers who will create a New World!</p>
        <p class=" " style="color:#000000;"
        id="aboutUs-markdown6">We constantly strive to provide the best of the faculty members and the State-of-art facilities. The students are encouraged and supported not only to excel in academics, but also to develop a wholesome personality through co-curricular, extra-curricular
            activities and other extension activities.</p>
    </ion-content>
</ion-view>