<ion-view style="" class=" " id="page17" title="Basic Sciences and Humanities">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 13px;" class="spacer"></div>
        <div style="">
            <center>
                <p>
                    Dr. P. ANURADHA
                    <br>Assoc. Professor &amp; HOD
                </p>
            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Email:
                    <a href="mailto:anuradha.p@bvrithyderabad.edu.in">anuradha.p@bvrithyderabad.edu.in</a>
                </p>

            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Phone:
                    <a href="tel:+91 9989448015">+91 9989448015</a>
                </p>

            </center>

        </div>
        <p class=" " style="color:#000000;text-align:justify;" id="basicSciencesAndHumanities-markdown18">First year Engineering forms the foundation for the core engineering courses. For the strong building of their brilliant career, the base should be strong. This solid and sturdy foundation is laid by the Department of BS&amp;H, which is a conglomeration/
            consolidation of the basics of sciences and Humanities including Engineering Drawing, makes every effort to cater the budding engineers in English, Mathematics, Physics, Chemistry, Environmental Studies, Management Studies, besides acting
            as a platform for the students to leap into their core engineering subjects.</p>
        <p class=" " style="color:#000000;text-align:justify;" id="basicSciencesAndHumanities-markdown20">Strengthening students’ fundamental principles and revivifying their knowledge, the department is supported by target oriented, highly qualified, eminent faculty with considerable teaching experience, who put their complete and consistent effort
            to meet the expectations of the students. They are easily accessible and approachable so that students feel free to come for counseling, guidance or for clarifications. They handle different courses like English Theory and ELCS Lab &amp; Advanced
            Communication Skills Lab, Mathematics, Mathematical Methods, Engineering Physics Theory and Lab, Engineering Chemistry Theory and Lab, Engineering Drawing, Engineering Workshop, Fluid Mechanics and Hydraulic Machinery Lab, Environmental Studies
            &amp; Management Science.</p>
        <p class=" " style="color:#000000;text-align:justify;" id="basicSciencesAndHumanities-markdown21">The department is committed towards the institution in molding the students face the brave new world with challenge and excitement and plays its own role in creating triumphant women technocrats.</p>
    </ion-content>
</ion-view>