<ion-view style="" class=" " id="page8" title="Campus Hostels">
    <ion-content class="has-header" padding="true">
        <p class=" " style="color:#000000;" id="campusHostels-markdown15">BVRIT Hyderabad Hostel is a home away from home. It provides eco-friendly Hostel environment with round the clock security, nutritious and hygienic food. It is a place where personal care is taken. Facilities provided are land phone, Intercom,
            geysers, generator and many yet to come for the complete convenience of the students. Library timings are extended till 6 in the evening to provide the right academic ambience for students in search of excellence in their pursuits.</p>
        <ion-list
        class=" " id="campusHostels-list5">
            <ion-item style="" href="tel:+919848566118" id="campusHostels-list-item14" class="item-avatar item-icon-right  ">
                <h2>J R K SM Lakshmi</h2>
                <p>I, III year Warden</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" href="tel:+919848483707" id="campusHostels-list-item26" class="item-avatar item-icon-right  ">
                <h2>Jhansi</h2>
                <p>II year Warden</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" href="tel:" id="campusHostels-list-item27" class="item-avatar item-icon-right  ">
                <h2>Item</h2>
                <p>IV year Warden</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            </ion-list>
    </ion-content>
</ion-view>