<ion-view style="" class=" " id="page7" title="Central Library">
    <ion-content class="has-header" padding="true">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/NulgadOXRwKHfN6QRsPa_library.jpg" height="auto" width="75%">
        </div>
        <p class=" " style="color:#000000;" id="centralLibrary-markdown8">The library of BVRIT Hyderabad is a house of learning by itself.The efforts to increase the 1500 volumes, 88 titles of 2012 - 13 to the present 11153 volumes, 1277 titles contributes to the strength of this temple of knowledge. It has a seating
            capacity of 100 members &amp; attractive, convenient space for study and research.</p>
        <p class=" " style="color:#000000;" id="centralLibrary-markdown9">The college library subscribes to National journals, 61 are technical and 13 magazines of them are general of which one is the in house journal “VISHNU ERA” i.e., from Sri Vishnu Educational Society.It also subscribes 4 International Journals
            ( IEEE Print ) &amp; 64 Electronic Journals.</p>
        <p class=" " style="color:#000000;" id="centralLibrary-markdown10">The staff and students can utilize the INTERNET facility for which 9 systems have been separately allotted in the Digital library. One system is allotted for printing.Three cards are issued to the students from the 1st year itself. The books are
            issued for a span of 14 days.Daily, on an average 75 – 100 on normal days, and 100 – 150 users during examination days, visit the library and utilize the facilities.</p>
        <div style="">
            <p>
                Library Timings:9.00 a.m. To 6.00 p.m. on all working days.
                <br>Sections: Circulation, Textbook, Textbook Reference, Reference, Serials, Newspapers.
                <br>Service: Reprography, Question Papers, NPTEL Lectures and Internet
                <br>Total No. of Volumes: 11153
                <br>Total No. of Titles: 1277
                <br>No. of Journals : National : 61
                <br>International : 4
                <br>No. of Magazines : 13
                <br>CDs/DVDs/Audio : 1125
                <br>Newspapers : 6
            </p>
        </div>
    </ion-content>
</ion-view>