<ion-view style="" class=" " id="page16" title="Computer Science &amp; Engineering">
    <ion-content class="has-header" padding="true">
        <div style="">
            <center>
                <p>


                    Dr.A.Vasanthi
                    <br>HOD
                </p>
            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Email:
                    <a href="mailto: vasanthi.a@bvrithyderabad.edu.in">vasanthi.a@bvrithyderabad.edu.in</a>
                </p>

            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Phone:
                    <a href="tel:+91 9989448015">+91 9989448015</a>
                </p>

            </center>

        </div>
        <p class=" " style="color:#000000;" id="computerScienceEngineering-markdown26">Department of computer science and engineering persistently strives to establish ambience of academic excellence to burgeon creative ideas and research. The four year under graduate programme in Computer Science is intended to educate the students
            in core courses and specialized areas in the on the rise technology facade. We have a team of highly qualified and dedicated teaching faculties well supported by a large group of staff for keeping campus vibrant as a temple of knowledge under
            a self imposed discipline by one and all. Our imminent techies, scientists, executives, entrepreneurs are cultivated and expectant with ingenious approach. It has splendid infrastructural and amenities for students and staff. It is the endeavor
            of the management to intermittently migrate to the modish software and hardware to persist in pace with ever changing needs with the industries so that our students come out with latest knowledge in both software and hardware The computing
            and internet facilities are available for all students round the clock. Besides imparting theoretical knowledge, the teaching learning process stresses on developing analytical stills, communication, problem solving, and teamwork abilities.</p>
    </ion-content>
</ion-view>