<ion-view style="" class=" " id="page4" title="Contact Us">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 10px;" class="spacer"></div>
        <p class=" " style="color:#000000;" id="contactUs-markdown16">This mobile application is made fot the soul purpose of helping students of BVRITH. Pleae help us providing feedbacks or any updates on this application.</p>
        <div style="width: 283px; height: 7px;" class="spacer"></div>
        <ion-list class=" " id="contactUs-list6">
            <ion-item style="" href="tel:+917093338777" id="contactUs-list-item15" class="item-avatar item-icon-right  ">
                <img src="img/Bp9HC1ZSXKbofdFOrUdA_WhatsApp Image 2016-08-03 at 15.02.12.jpeg">
                <h2>Anjali</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item16" class="item-avatar item-icon-right  ">
                <h2>Harika</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" href="mailto:" id="contactUs-list-item17" class="item-avatar item-icon-right  ">
                <h2>Jayasree</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item18" class="item-avatar item-icon-right  ">
                <h2>Likitha</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item19" class="item-avatar item-icon-right  ">
                <h2>Neha Reddy</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item20" class="item-avatar item-icon-right  ">
                <h2>Poojitha</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item21" class="item-avatar item-icon-right  ">
                <h2>Sameera</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item22" class="item-avatar item-icon-right  ">
                <h2>Srikari</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item25" class="item-avatar item-icon-right  ">
                <h2>Sreesha</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item23" class="item-avatar item-icon-right  ">
                <h2>Srujana</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
            <ion-item style="" id="contactUs-list-item24" class="item-avatar item-icon-right  ">
                <h2>Tanya</h2>
                <p>Student Co-ordinator, CSE</p>
                <i class="icon ion-android-call"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>