<ion-view style="" class=" " id="page6" title="Departments">
    <ion-content class="has-header" padding="true">
        <a class=" button button-positive  button-block " id="departments-button5" ui-sref="basicSciencesAndHumanities">Basic Sciences and Humanities</a>
        <a class=" button button-positive  button-block " id="departments-button1" ui-sref="computerScienceEngineering">Computer Science &amp; Engineering</a>
        <a class=" button button-positive  button-block " id="departments-button2" ui-sref="informationTechnology">Information Technology</a>
        <a class=" button button-positive  button-block " id="departments-button3" ui-sref="eCE">Electronics &amp; Communication Engineering</a>
        <a class=" button button-positive  button-block " id="departments-button4" ui-sref="electricalElectronicsEngineering">Electrical &amp; Electronics Engineering</a>
    </ion-content>
</ion-view>