<ion-view style="" class=" " id="page13" title="Electrical &amp; Electronics Engineering ">
    <ion-content class="has-header" padding="true">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/ps0U41iTa2jhu9c5afAI_Dr.Sunil Kumar Chava.jpg" height="auto" width="125">
        </div>
        <div style="">
            <center>
                <p>
                    Dr. Chava Sunil Kumar
                    <br>HOD
                </p>
            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Email:
                    <a href="mailto: vasanthi.a@bvrithyderabad.edu.in">vasanthi.a@bvrithyderabad.edu.in</a>
                </p>

            </center>

        </div>
        <div style="">
            <center>
                <p>
                    Phone:
                    <a href="tel:+91 9989448015">+91 9989448015</a>
                </p>

            </center>

        </div>
        <p class=" " style="color:#000000;" id="electricalElectronicsEngineering-markdown24">copy paste here</p>
    </ion-content>
</ion-view>