<ion-view style="" class=" " id="page5" title="Principal">
    <ion-content class="has-header" padding="true">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/m3EJC6O6QtG0UwFbz4Jx_principal.jpg" height="auto" width="125">
        </div>
        <div style="">
            <center>
                <p>
                    Dr. K. V. N. Sunitha
                    <br>Principal
                    <br>Phone:
                    <a href="tel:+919440085080">+919440085080</a>
                    <br>Email:
                    <a href="mailto:principal@bvrithyderabad.edu.in">principal@bvrithyderabad.edu.in</a>
                </p>
            </center>
        </div>
        <p class=" " style="color:#000000;text-align:justify;" id="principal-markdown1">Dr K.V.N.Sunitha has done her B.Tech (ECE) from Nagarjuna University, M.Tech Computer Science from REC Warangal. She completed her Ph.D from JNTU, Hyderabad in 2006. She has 21 years of Teaching Experience, worked at various engineering colleges
            such as G. Pulla Reddy Engineering College Kurnool, KSRM College of Engineering Cuddapah, Vasavi College of Engg., Hyderabad &amp; DVR College of Engineering, Hyderabad. She worked as HOD, CSE Dept in G.Narayanamma Institute of Technology
            and Science from the inception of the CSE Dept (2001 to July 2012).</p>
        <p class=" " style="color:#000000;text-align:justify;" id="principal-markdown2">She received "Academic Excellence Award" by the management of G.Narayanamma Institute of Technology &amp; Science on 18th September 2005. She also received "Best computer Science engineering Teacher award for the year 2007" by Indian Society for
            Technical Education ISTE in 2nd annual convention held at Sreenidhi Institute of Science &amp; Technology on 23rd Feb 2008. She has been recognized &amp; invited by AICTE as NBA expert evaluator. Her autobiography was included in "Marquis
            Who is Who in the World " , 28th edition 2011,Currently working as Founder Principal, BVRIT Hyderabad college of Engineering for women, Nizampet, Hyderabad since August 2012.</p>
        <p class=" " style="color:#000000;text-align:justify;" id="principal-markdown3">She has authored three text books, "Programming in UNIX and Compiler design"- BS Publications &amp; "Formal Languages and Automata Theory" by Tata McGraw Hill &amp; " Theory of Computation" by TMH in 2011.She has developed web content for compiler
            design subject for gradience portal in collaboration with Aho Ullman, Professor, Stanford University (USA).</p>
        <p class=" " style="color:#000000;text-align:justify;" id="principal-markdown4">She has been recognized as Research supervisor under various universities like JNTUH, JNTUA, Githam &amp; Rayalaseema and Jawaharlal Nehru Institute of Advanced studies (JNIAS). Her areas of research include Natural language processing, Speech
            Processing, Network &amp; web Security. She has guided two PhD’s and currently she is guiding 13 research scholars. She received a research grant of Rs 20,000 from CSI for R&amp;D project in March 2011 for one year. She is an academic advisory
            member &amp; Board of Studies member for other Engineering Colleges. She has published more than 65 papers in International &amp; National Journals and conferences. She is a reviewer for many national and International Journals. She is fellow
            of Institute of engineers, Sr member for IEEE &amp; International association CSIT, and life member of many technical associations like CSI and ACM.</p>
    </ion-content>
</ion-view>